<div class="contact-us">
  <h1>Contact-us</h1>
  <div class="contact-info">
    <img src="../../../assets/images/contact-card.jpg">
    <span class="address">
      <address>
        <i><strong>Visit us at:</strong></i><br>
        264 HIGH STREET NORTH<br>
        EASTHAM, LONDON, UK<br>
        E12 6SB
      </address>
      <i><strong>Review us </strong> <a href="https://g.co/kgs/xK3tbW" >here</a></i><br>
      <i><strong> Call us at:</strong> 02031528486</i><br>
      <i><strong>Email us at:</strong> toheastham@gmail.com</i><br>
    </span>
  </div>
</div>
