.category-list-item {
  list-style-type: none;
  padding:2em 1em;
  border-top: 1px solid #ffa500;
  border-bottom: 1px solid #ffa500;

}

.category-link {
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
  font-weight: 500;
}
