<span class="img-container" (click)="navigateToHome()"><img class="logo" src="../../../../assets/images/charminar-logo.jpg"></span>
<div *ngIf="cartValue" class="cart" style="float: right;margin-right:2em">cartValue: £{{cartValue.toFixed(2)}}</div>
<div *ngIf="cartValue" class="checkout"><button (click)="proceedToCheckout()">checkout</button></div>
<div class="menu-container">
<ul>
  <li class="list-item"><a routerLink="">Home</a></li>
  <li class="list-item"><a routerLink="/categories" routerLinkActive=”active”>View Our Menu</a></li>
  <li class="list-item">Contact US</li>
  <li class="list-item">About Us</li>
</ul>
</div>
